{% extends "layout_prototype.html" %}

{% block content %}
<a href="/liam" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl">My start page</h1>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What is the prototyping kit
      </span>
    </summary>
    <div class="govuk-details__text">
      It is a tool to help test your ideas really quickly.
    </div>
</details>
{% endblock %}